body{
	color:green;
	font-family: Arial;
	background-color: purple;
}

p{
	text-align: left;
}

h1{
	text-align: center;
	color: goldenrod;
}

.first{
	text-align: left;
}

h2{
	text-align:left;
	color:yellow;
}

table,th,td{
	border:1px solid black;
	width:500%:
}
nav{text-align: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	font-weight: bold;

}